[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=remrob
WorkingDirectory=/home/remrob/dev/remrob-webapp
ExecStart=/home/remrob/.local/bin/gunicorn --bind 0.0.0.0:5000 app:app --workers 4

[Install]
WantedBy=multi-user.target